* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555;
}

body {
  background: #f9fafb;
  font-family: 'Lato', sans-serif;
}

.container {
  padding: 0 25px;
}

/* //////////////////////HEADER/////////////////// */
header {
  color: white;
  text-align: center;
  min-height: 300px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?w=2428&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-top: 80px !important;
}

.search {
  width: 100%;
}

.search form {
  width: 100%;
}

.search form input {
  color: #fff;
  margin-top: 10px;
  padding: 7px;
  background-color: rgba(255,255,255,.3);
  height: 45px;
  width: 100%;
  max-width: 410px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 17px;
}

.search form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:rgba(255,255,255,.9);
}

.search form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:rgba(255,255,255,.9);
 opacity:  1;
}

.search form input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:rgba(255,255,255,.9);
 opacity:  1;
}

.search form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:rgba(255,255,255,.9);
}

.search form input::-ms-input-placeholder { /* Microsoft Edge */
 color:rgba(255,255,255,.9);
}

.search form button {
  height: 45px;
  width: 90px;
  padding: 3px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  background-color:#466437;
  cursor: pointer;
}

.search form button:hover {
  opacity: .9;
  transition: .2s ease;
}

@media screen and (max-width:549px) {
  .search form input {
    border-radius: 3px;
  }
  .search form button {
    margin-top: 15px;
    width: 180px;
  }
}
/* //////////////////////////MORE INFO//////////////////////////////// */

.more-info {
  text-align: center;
  background: #F4F3F1;
  display: flex;
  align-items: center;
  max-width: 500px;
  min-height: 100px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  bottom: 60px;
  padding: 10px;
}

.more-info p {
  border-left: 1px solid rgba(0,0,0,.2);
  font-size: 13px;
  text-align: justify;
  padding: 5px;
  margin-left: 5px;
}

/* /////////////////////////////LOADER///// */

div.loader {
  border: 6px solid rgba(0,0,0,.1);
  border-right-color:#466437;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px auto;
  animation: spinLoader linear 1s infinite;
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////Recipes///// */



.recipe-header {
  margin-bottom: 20px;
  margin-top: -35px;
  text-align: center;
}

.recipe-header hr {
  margin: 0 auto;
  margin-top: 15px;
  border-top: solid 2px #466437;
  border-style: solid;
  width: 200px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
}

.recipe {
  position: relative;
  padding: 30px;
  display: inline-block;
  border-radius: 2px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.recipe:hover {
  background-size: 125%;
}

.recipe-detail {
  position: relative;
  min-width: 350px;
  max-width: 350px;
  min-height: 200px;
  z-index: 1;
  color: #fff;
  font-size: 85%;
}

.recipe-detail a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 3px;
  margin-top: 4px;
  border: 1px solid white;
  border-radius: 2px;
}

@media screen and (max-width: 869px) {
  .wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
  .recipe {
    flex-grow: 1;
  }
}

@media screen and (max-width: 530px) {
  .recipe-detail {
    max-width: 290px;
    min-width: 290px;
  }
}
