* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555;
}

body {
  background: #f9fafb;
  font-family: 'Lato', sans-serif;
}

.container {
  padding: 0 15px;
}

/* //////////////////////HEADER/////////////////// */
header {
  color: white;
  text-align: center;
  min-height: 300px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?w=2428&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-position: center center;
  background-size: cover;
  position: relative;
}

#search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#search form {
  width: 100%;
}

#search form input {
  color: #fff;
  margin-top: 10px;
  padding: 7px;
  background-color: rgba(255,255,255,.3);
  height: 45px;
  width: 100%;
  max-width: 410px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 17px;
}

#search form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:rgba(255,255,255,.9);
}

#search form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:rgba(255,255,255,.9);
 opacity:  1;
}

#search form input::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:rgba(255,255,255,.9);
 opacity:  1;
}

#search form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:rgba(255,255,255,.9);
}

#search form input::-ms-input-placeholder { /* Microsoft Edge */
 color:rgba(255,255,255,.9);
}

#search form button {
  height: 45px;
  width: 90px;
  padding: 3px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  background-color:#466437;
  cursor: pointer;
}

#search form button:hover {
  opacity: .9;
  transition: .1s ease;
}

/* //////////////////////////MORE INFO//////////////////////////////// */

.more-info {
  text-align: center;
  background: #F4F3F1;
  display: flex;
  align-items: center;
  max-width: 500px;
  min-height: 100px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  bottom: 60px;
  padding: 10px;
}

.more-info p {
  border-left: 1px solid rgba(0,0,0,.2);
  font-size: 13px;
  text-align: justify;
  padding: 5px;
  margin-left: 5px;
}

/* /////////////////////////////LOADER///// */

div.loader {
  border: 15px solid silver;
  border-top-color: teal;
  border-bottom-color: blue;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px auto;
  animation: spinLoader linear 3s infinite;
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 530px) {

}
